:root {
  --bg: #021B1A;
  --container: #06302B;
  --data-container: #03624C;
  --result-container: #021B1A;
  --white: #F1F7F6;
  --grey: #c5c9c8;
  --accent: #e61646;
}

$small : 50rem;
$med : 75rem;

*,
*::after,
*::before,
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  background-color: var(--bg);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--white);
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  padding: 2rem 0;

}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  width: 90%;
  max-width: 75rem;
  min-height: 80vh;
  background-color: var(--container);
  border-radius: 0.25rem;
  border: none;

  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;

  @media screen and (max-width: $med) {
    width: 100%;
  }

  @media screen and (max-width: $small) {
    grid-template-columns: 100%;
    grid-template-rows: 4fr 5fr;

    background-color: var(--bg);
  }


}

.subheading-container {
  display: flex;
  justify-content: space-between;

  padding-bottom: 0.5rem;
  width: 100%;
  border-bottom: 0.0625rem solid var(--white);
  margin-bottom: 1rem;

  button {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: none;
    background-color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    font-weight: 600;
    color: var(--container);

    transform: scale(100%);
    transition: all 0.15s ease-in;

    &:hover {
      transform: scale(120%);
    }
  }
}

.data-group {
  width: 100%;

  @media screen and (max-width: $small) {
    width: 90%;
  }
}

.data {
  background-color: var(--data-container);
  height: 100%;
  width: 100%;
  padding: 3rem;
  border-radius: 0 1rem 1rem 0;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4rem;

  @media screen and (max-width: $med) {
    padding: 2rem 1rem;
    gap: 3rem;

  }

  @media screen and (max-width: $small) {
    border-radius: 0 0 1rem 1rem;
  }

  table {


    @media screen and (max-width: $small) {
      margin: 0 auto;
    }
  }

  table,
  th,
  td {
    border: 1px solid;
    padding: 0.5rem;
  }

  td {
    text-align: center;
  }

  input {
    width: 50%;
    background-color: var(--container);
    padding: 0.125rem;
    color: inherit;
    font-size: inherit;
    border-radius: 0.25rem;
    border: none;
    text-align: center;

    -moz-appearance: textfield;
    appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .amount-paid-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      width: 40%;
      height: 2rem;
    }
  }

  .submit-btn {
    width: 30%;
    height: 2.5rem;

    background-color: var(--container);
    border-radius: 0.5rem;
    border: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: 0.0625rem;

    cursor: pointer;

    box-shadow: 0 0 0 0 var(--white);

    transition: transform 0.2s ease-out;

    &:hover {
      box-shadow: 0 0 0 0.125rem var(--white);
      transform: translateY(-0.125rem);
    }

    &:active {
      box-shadow: 0 0 0 0.125rem var(--white), 0 0 0.5rem 0.25rem var(--container);
    }


  }
}

.information-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  // height: 50%;
  max-width: unset;

  border: none;
  border-radius: 1rem;
  padding: 2rem;

  @media screen and (max-width: $med) {
    width: 60%;
  }

  @media screen and (max-width: $small) {
    width: 80%;

    h3 {
      font-size: 1.5rem;
    }
  }

  &::backdrop {
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }

  button {
    background-color: var(--data-container);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--data-container);
    color: var(--white);
    font-weight: 600;
    height: 10%;

    cursor: pointer;
    transition: transform 0.15s ease-in-out;
    transform: scale(100%);



    &:hover {
      box-shadow: 0 0 0 0.125rem var(--container);
      transform: scale(110%);
    }
  }

  div {
    width: 95%;
    height: 85%;
    padding-top: 5%;

    margin: 0 auto;


    h3 {
      padding-block-end: 1.5rem;
      text-decoration: underline;
      text-align: center;
    }

    p {
      line-height: 1.2;
      text-align: justify;
      padding-block-end: 1.2rem;
    }
  }

}

.result {
  padding: 1rem;
  padding-left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @media screen and (max-width: $med) {
    gap: 0;
  }

  @media screen and (max-width: $small) {
    padding: 0;
  }

  .flip-wrapper {
    width: 100%;
    height: 100%;
    perspective: 500px;

  }

  .display {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;

    &__empty,
    &__result {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;

      border-radius: 0 0.5rem 0.5rem 0;
      border: none;
      background-color: var(--result-container);
      padding: 1rem;

      display: flex;
      flex-direction: column;
      gap: 2rem;

      align-items: center;


    }

    &__result {
      transform: rotateY(180deg);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      @media screen and (max-width: $med) {
        gap: 0;
      }

      @media screen and (max-width: $small) {
        gap: 2rem;
      }

      h3 {
        width: 100%;
        font-size: 2.5rem;
        padding-bottom: 0.5rem;
        text-align: center;
        border-bottom: 0.125rem dashed var(--white);
        margin-bottom: 1.5rem;

        @media screen and (max-width: $med) {
          font-size: 2rem;
        }

        @media screen and (max-width: $small) {
          font-size: 2.25rem;
        }

      }

      .result__top,
      .result__center {
        width: 80%;
      }

      p {
        padding-bottom: 0.5rem;
      }

      .result__top {
        padding-bottom: 3rem;
        // border-bottom: 0.125rem solid var(--white);
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width: $med) {
          padding-bottom: 0.5rem;
          font-size: 1.125rem;
        }

        p {
          text-transform: uppercase;
          color: var(--white);

          width: 90%;

          display: grid;
          grid-template-columns: 7fr 3fr;
          gap: 1rem;
          justify-items: start;
          align-items: center;
        }

        span {
          color: var(--accent);
          font-size: 1.2em;
          font-weight: 800;
          border-bottom: 0.125rem solid var(--accent);

          justify-self: end;
        }
      }

      .result__center {
        font-size: 1.125rem;

        @media screen and (max-width: $med) {
          font-size: 1rem;
        }

        p {
          color: var(--grey);
          position: relative;
          margin-left: 2rem;
          font-weight: 400;

          display: grid;
          grid-template-columns: 6fr 4fr;
          gap: 1.5rem;
          align-items: center;

          text-align: left;

          @media screen and (max-width: $med) {
            grid-template-columns: 8fr 2fr;
            gap: 0.5rem;
            padding-bottom: 0.5rem;
          }
        }

        p::before {
          content: '⚡';
          position: absolute;

          left: -0.5rem;
          transform: translateX(-100%);

        }

        span {
          // font-size: 1.2em;
          font-weight: 800;
          color: var(--white);
          text-align: right;
        }
      }


    }

    &__empty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {

        font-size: 2.5rem;
        padding-bottom: 2rem;
        text-align: center;
        border-bottom: 0.125rem dashed var(--white);
        margin-bottom: 1.5rem;

        @media screen and (max-width: $med) {
          font-size: 2rem;
        }

        @media screen and (max-width: $small) {
          font-size: 2.25rem;
        }

      }

      span {
        width: 70%;
      }

      p {
        padding-bottom: 0.5rem;
        margin-left: 2.75rem;
        position: relative;
      }

      p::before {
        content: '⚡';
        position: absolute;

        left: -0.5rem;
        transform: translateX(-100%);

      }
    }

  }

  .show {
    transform: rotateY(180deg);
  }


}


h1 {
  font-size: 3rem;

  @media screen and (max-width: $small) {
    font-size: 2.5rem;
    text-align: center;
  }
}

h2 {
  font-size: 2.25rem;
  text-align: center;

  @media screen and (max-width: $small) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.5rem;

  @media screen and (max-width: $small) {
    font-size: 1.25rem;
  }
}